* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  background-color: rgb(33, 33, 33);
  height: 450px;
  width: 325px;
  padding: 20px;
  border-radius: 10px;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.display {
  flex: 1 1 300px;
  background-color: #5e5c5c;
  color: white;
  font-size: 3rem;
  padding-right: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

button {
  flex: 1 1 50px;
  font-size: 1.4rem;
  border: none;
  color: white;
  background-color: #5e5c5c;
  border-radius: 50%;
  cursor: pointer;
}

button:hover {
  filter: brightness(1.25);
}

.operator {
  background-color: #e97312;
}
